.navbar-wrapper{
    background-color: #041434;
    height: 100%;
    color: white;
    /* padding: 8px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-wrapper a{
    text-decoration: none;
}
.navbar-wrapper .nav-item{
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    
}
.navbar-wrapper .nav-item {
    color: white;
    text-decoration: unset;
}
.navbar-wrapper .nav-item:hover{
    background-color: white;
    color: black;
}.navbar-item {
    display: inline-block;
}.navbar-item.active {
    background-color: black;
    color: white;
}